mkdocs==1.5.3
mkdocs-material==9.5.3
# First, we'll pin griffe to a known good version
griffe==0.37.1
# Then specify the mkdocstrings packages that work with this version
mkdocstrings==0.24.0
mkdocstrings-python==1.7.5
# Supporting packages
markdown>=3.2
pymdown-extensions>=10.2.1
typing-extensions>=4.8.0
mkdocs-autorefs>=0.5.0